<div>
	<div ng-if="DialogController.$scope.shown">
		<div
			class    ="fixed tl whole-width whole-height way-way-above coloring mostly-opaque"
			ng-class ="screenClass"
		></div>

		<div 
			class="fixed tl whole-height whole-width way-way-above overflow-scroll"
		>
			<my-centered-div
				class       ="absolute whole-width whole-height"
				whole-width ="wholeWidth"
			>
				<div class="relative block margin coloring rounded shadow whole-max-width overflow-scroll">

					<div
						class ="h3 b-bordered padded"
						ng-if ="title"
					>
						<span class="more r-padded">
							{[{ title }]}
						</span>
					</div>

					<div class ="more margin">
						<div class="less padded clearfix">
							<div
								class="relative"
								ng-transclude
							></div>
						</div>
					</div>

					<a 
						class    ="absolute tr h4 label-padded flat-button rounded" 
						ng-click ="DialogController.$scope.shown = false"
					>
						<span class="icon-remove"></span>
					</a>

				</div>
			</my-centered-div>
		</div>
	</div>
</div>