<div>
	<div class="relative">

		<input
			class       ="relative rounded text-input block whole-width less t-margin no-margin-when-first"
			placeholder ="Enter name for the request"
			ng-model    ="request.name"
			ng-disabled ="request.pending || ! editable"
		/>

		<input
			class       ="relative rounded text-input block whole-width less t-margin no-margin-when-first"
			placeholder ="Enter a URL"
			ng-model    ="request.url"
			ng-disabled ="request.pending || ! editable"
		/>

		<my-busy-shield
			when="request.pending"
		></my-busy-shield>

	</div>
</div>
