<div class="absolute tl br overflow-scroll padded inverse-this coloring">

	<h1 class="b-margin text-shadowed">
		The 3 WTFs of Angular Interceptors
	</h1>

	<div class="rounded coloring inverse-shadow">
		<div class="rounded inset-shadow padded clearfix">

			<my-edit-request
				class   ="rounded less padded bordered"
				request ="MainController.request"
			></my-edit-request>

			<div class="clear">
			</div>

			<a
				class="right inline-block rounded hybrid-button less lr-padded t-margin"
				ng-click="MainController.makeRequest()"
			>
				Make Request
			</a>

		</div>
	</div>

</div>