<div class="absolute tl br overflow-scroll padded inverse-this coloring">

	<h1 class="b-margin text-shadowed">
		The 3 WTFs of Angular Interceptors
	</h1>

	<div class="rounded coloring inverse-shadow">
		<div class="rounded inset-shadow clearfix">

			<div class="clearfix less padded">

				<my-edit-request
					class   ="rounded less padded bordered less t-margin no-margin-when-first"
					request ="MainController.request"
					editable="true"
				></my-edit-request>

				<div class="clear">
				</div>

				<a
					class="right inline-block rounded hybrid-button lr-padded less t-margin no-margin-when-first"
					ng-click="MainController.makeRequest()"
				>
					Make Request
				</a>

			</div>

			<div
				class ="less margin padded rounded shadow"
				ng-if ="MainController.succeededRequests.length"
			>

				<h4 class="less t-margin no-margin-when-first">
					Successful Requests
				</h4>

				<div
					class     ="rounded less padded bordered less t-margin no-margin-when-first"
					ng-repeat ="request in MainController.succeededRequests"
				>
					<my-edit-request
						request="request"
					></my-edit-request>
				</div>

			</div>

			<div
				class ="less margin padded rounded shadow"
				ng-if ="MainController.failedRequests.length"
			>

				<h4 class="less t-margin no-margin-when-first">
					Failed Requests
				</h4>

				<div
					class     ="rounded less padded bordered less t-margin no-margin-when-first"
					ng-repeat ="request in MainController.failedRequests"
				>
					<my-edit-request
						request="request"
					></my-edit-request>
				</div>

			</div>

		</div>

	</div>

</div>