<div class="action-dialog">
	<div ng-if="ActionDialogController.$scope.shown">
		<div
			class="fixed tl whole-width whole-height way-way-above coloring mostly-opaque"
			ng-class="screenClass"
		></div>

		<div class="fixed tl whole-height whole-width way-way-above overflow-scroll">
			<my-centered-div
				class       ="absolute whole-width whole-height"
				whole-width ="wholeWidth"
			>
				<div class="relative block margin coloring rounded shadow whole-max-width overflow-scroll">

					<div 
						class ="padded relative clearfix"
						ng-transclude
					></div>

					<div class="inverse coloring">

						<div class="t-bordered heavy thick secondary">
						</div>

						<div class="padded text-right nowrap shadow h4 light extra-lined clearfix overflow-scroll">
							
							<div
								class ="h3 light left"
								ng-if ="title"
							>
								<span>{[{ title }]}</span>
							</div>

							<a
								class    ="link inline-block appearance-none no-border less lr-padded lr-margin no-margin-when-last rounded button"
								ng-click ="ActionDialogController.doSecondaryAction()"
							>
								{[{ secondaryActionText }]}
							</a>

							<a
								class    ="link inline-block appearance-none no-border less lr-padded lr-margin no-margin-when-last rounded button secondary"
								ng-click ="ActionDialogController.doPrimaryAction()"
							>
								{[{ primaryActionText }]}
							</a>

						</div>

					</div>

					<my-busy-shield
						when         ="ActionDialogController.$scope.shieldShown || ActionDialogController.closing"
						shield-class ="'inverse'"
					></my-busy-shield>

				</div>
			</my-centered-div>
		</div>
	</div>
</div>