<div class="previewed-iframe relative"
	ng-init  ="loadIframe = false"
	ng-click ="loadIframe = true"
>
	<my-fixed-proportion-div
		ratio-width  ="{[{ ratioWidth }]}"
		ratio-height ="{[{ ratioHeight }]}"
	>
		<div
			ng-if ="imgSrc"
			class ="absolute tl whole-width whole-height text-center"
		>
			<img class="absolute block whole-width whole-height hardware-render" ng-src="{[{ imgSrc }]}" />
		</div>
		<div
			class ="link absolute tl whole-width whole-height"
			ng-transclude
		>
		</div>
		<iframe
			class       ="absolute tl whole-width whole-height"
			ng-if       ="loadIframe"
			ng-src      ="{[{ iframeSrc }]}" 
			frameborder ="0"
			allowfullscreen
		/>
	</my-fixed-proportion-div>
</div>